@model SuperChampiniones.Models.Venta

@{
    ViewData["Title"] = "Create";
}

<h1>Registrar Venta</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="NroRecibo" class="control-label"></label>
                <input asp-for="NroRecibo" class="form-control" />
                <span asp-validation-for="NroRecibo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sector" class="control-label">Seleccione Sector</label>
                <select asp-for="Sector" class="form-control" asp-items="ViewBag.Sector"></select>
                <span asp-validation-for="Sector" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label"></label>
                <select asp-for="UsuarioId" class="form-control" asp-items="ViewBag.UsuarioId"></select>
                <span asp-validation-for="UsuarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Miembro_VipId" class="control-label"></label>
                <input asp-for="Miembro_VipId" class="form-control" />
                <span asp-validation-for="Miembro_VipId" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="PartidoId" class="control-label"></label>
                <select asp-for="PartidoId" class="form-control" asp-items="ViewBag.PartidoId"></select>
                <span asp-validation-for="PartidoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Registrar pago" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
